/* gacha-styles.css */
::-webkit-scrollbar {
    width: 5px !important;
    
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    scale: 2;
}
/* Base styles for gacha item */

/* Specific rarity styles */
.N {
   
    /* Blue border */
    color: #0000ff !important;
    /* Blue text */
}

.r {
    border: 2px solid #ffa500;
    /* Orange border */
    color: #ffa500;
    /* Orange text */
}

.gacha-item.sr {
    border: 2px solid #800080;
    /* Purple border */
    color: #800080;
    /* Purple text */
}

.gacha-item.ssr {
    border: 2px solid #ffff00;
    /* Yellow border */
    color: #cccc1f;
    /* Yellow text */
}

.gacha-item.ur {
    border: 2px solid #ff0000;
    /* Red border */
    color: #ff0000;
    /* Red text */
}

.gacha-item.sur {
    border: 2px solid #00ff00;
    /* Green border */
    color: #00ff00;
    /* Green text */
}

.gacha-item.rainbow {
    border: 2px solid #ff00ff;
    /* Pink border */
    color: #ff00ff;
    /* Pink text */
}

.gacha-item.legend {
    border: 2px solid #ffd700;
    /* Gold border */
    color: #ffd700;
    /* Gold text */
}
.star {
    color: gold;
    font-size: 1.2rem;
}

/* Hide the original rarity text */
.gacha-item .rarity {
    display: none;
}