/* index.css */

/* Default styles */
.MuiPaginationItem-text {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
}

.MuiPaginationItem-icon {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
}

/* For min width 768px */
@media (min-width: 768px) {
    .MuiPaginationItem-text {
        font-size: 1.125rem !important;
        line-height: 1.75rem !important;
    }

    .MuiPaginationItem-icon {
        font-size: 1.5rem !important;
        line-height: 2rem !important;
    }
}
.css-1pi9rcw-MuiButtonBase-root-MuiPaginationItem-root {
    border: 1px solid black !important;
   
}
.dark .css-1pi9rcw-MuiButtonBase-root-MuiPaginationItem-root {
    border: 1px solid #fff !important;
    /* white border for dark mode */
}

/* Light mode styles */
.css-1pi9rcw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color: #fff !important;
    background-color: #f97316 !important;
    /* orange for selected item */
}
.dark .css-1pi9rcw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color: #fff !important;
    border: 2px solid #1976d2 !important;

    /* blue for selected item */
}
.pagination-icon-bg {
    background-color: #f97316 !important;
    /* blue for icons */
    color: #fff !important;
}

/* Dark mode styles */


.dark .pagination-icon-bg {
    background-color: #1976d2 !important;
    /* orange for icons */
    color: #fff !important;
}
.css-41sz0k-MuiButtonBase-root-MuiPaginationItem-root {
    border: 1px solid black !important;
}
.dark .css-41sz0k-MuiButtonBase-root-MuiPaginationItem-root {
    border: 1px solid #fff !important;
    /* white border for dark mode */
}

/* Other custom styles */
.slick-prev:before,
.slick-next:before {
    font-size: 30px;
    color: black;
}