/* Add this to your CSS file */

/* For light theme */
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}
/* For dark theme */
.dark .slick-dots li.slick-active button:before {
    opacity: .75;
    color: white;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dark .slick-dots li button:before {
    font-family: 'slick';
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
        opacity: .25;
        color: ghostwhite;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}